.btn-login{
    text-align: center;
}

.btn-reg{
    float: right;
    margin-right: 50px;
}

.error-message{
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.error-block{
  margin-top: 10px;
  text-align: center;
}

#login-column{
  border: 1px lightgray solid;
  padding: 15px;
  border-radius: 5px;
}