<div class="jumbotron edit-content">
  <div class="title">
      <h1><p>Edit Dictionary</p></h1>
      <hr>
  </div>  
  <div class="raw">
    <div class="inputs raw form-inline">
        <div class="form-group">
            <label class="font-weight-bold" for="wordInput">Word:</label>
            <input type="text" id="wordInput" class="form-control" [(ngModel)] = "inputWord">
          </div>
          <div class="form-group">
              <label class="font-weight-bold" for="translateInput">Translate:</label>
              <input type="text" id="translateInput" class="form-control" [(ngModel)] = "inputTranslate">
            </div>
      <button class="btn btn-info btn-sm" (click)="AddWordToDictionary()">Save</button>
    </div>
    <div class="list">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <td class="center" scope="col" style="width: 5%">#</td>
            <td style="width: 5%"></td>
            <td scope="col" style="width: 40%">Words</td>
            <td scope="col" style="width: 40%">Translate</td>
            <td style="width: 5%"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dictionary let i = index">
            <td scope="row" class="center" style="font-weight: bold">{{i + 1}}.</td>
            <td class="center" (click)=editWord(item)><i class="fas fa-pencil-alt finger-pointer"></i></td>
            <td>{{item.wordOrigin}}</td>
            <td>{{item.translate}}</td>
            <td class="center" (click)=DeleteWord(item)><i class="fas fa-trash-alt finger-pointer"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
